@page "/demo/chat"

<h3>Bot Framework + LUIS</h3>

<iframe src='https://webchat.botframework.com/embed/AzureAIFlightBot?s=@AppConstants.BOTSecret'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
@code {

}
